

<div class="container-fluid">

<h2>
List Potential Customer

<br>
<br>

<a class="btn btn-success"> Create</a>
<br>

</h2>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
  <% @potentialCustomers.each_with_index do |potentialCustomer,index| %>
  <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= potentialCustomer.name%></td>
      <td><%= potentialCustomer.email%></td>
      <td><%= potentialCustomer.phone_number%></td>
      <td><%= potentialCustomer.address%></td>
      <td>
      <a class="btn btn-info"> Edit</a>|<a class="btn btn-danger"> Delete</a>
      </td>

    </tr>
  <% end %>
    
  </tbody>
</table>
</div>